<div class="music-page">
  <ng-container *ngIf="music$ | async; let music">
    <div class="breadcrumb">
      <a href="/musics">MÚSICAS</a> > TÍTULO DA MÚSICA
    </div>
    <div class="song-details">
      <div class="song-image"><img [src]="music.album.cover_xl" alt=""></div>
      <div class="song-text">
        <p class="album">{{music.album.title}}</p>
        <p class="title">{{music.title}}</p>
        <p class="artist-launch">{{music.artist.name}}, {{music.release_date | date:'YYYY'}}</p>
      </div>
    </div>
    <audio id="song-preview">
      <source src="{{music.preview}}" type="audio/mp3">
    </audio>
  </ng-container>
  <div [style.display]="(music$ | async) ? 'flex' : 'none'" class="song-preview">
    <div class="audio-controls">
      <span (click)="toggle()" class="material-symbols-outlined play">
        {{ playing ? 'pause' : 'play_arrow' }}
      </span>
      <span id="track-bar">
        <span id="track-bar-thumb">
        </span>
      </span>
      <span class="song-time">
        {{'0:' + (currentTime > 9 ? currentTime : '0' + currentTime)}} / 0:30
      </span>
    </div>
  </div>
</div>
