<div (keyup.enter)="submit()" class="modal" id="search_modal">
  <div class="modal-content">
    <div class="search">
      <div class="modal-header">
      <span class="search-icon">
        <span class="material-symbols-outlined icon">
          search
        </span>
      </span>
        <span class="search-input">
        <input [(ngModel)]="search" placeholder="Procure no Deezer..." type="text">
      </span>
        <span class="search-submit">
        <button (click)="submit()" class="btn">
          IR
        </button>
      </span>
      </div>
      <div class="middle-bar"></div>
      <div class="search-results">
        <ng-container *ngIf="results$ | async; let songs">
          <span class="result-count">Foram encontrados {{songs.data.length}} resultados</span>
          <ul class="music-list">
            <li (click)="goToMusic(song.id)" *ngFor="let song of songs.data" class="music-list-item">
              <p>{{song.title}}</p>
              <small>{{song.artist.name}}, {{song.album.title}}</small>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
</div>
