@import 'src/styles';

.modal {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.search {
  margin: auto;

  padding: 37px 35px;

  border-radius: 10px;

  background-color: white;

  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    column-gap: 14px;


    .icon {
      font-size: 42px;

      color: #6d6d6d;
      font-weight: 600;
    }

    .search-input {
      input {
        padding: 5px;

        width: 450px;
        height: 47px;

        border-right: 0;
        border-left: 0;
        border-top: 0;

        border-bottom: 1px #6d6d6d solid;

        font-size: 24px;
        font-weight: 400;
        font-family: $montserrat;

        &::placeholder {
          color: rgba(109, 109, 109, 0.51);
        }
      }
    }

    .search-submit {
      .btn {
        padding: 12px 32px;

        font-size: 20px;
        font-weight: 400;
        font-family: $montserrat;
        color: #686868;

        border-radius: 10px;
        background: transparent;
        border: 1px solid #7d7d7d;

        cursor: pointer;
      }
    }
  }

  .middle-bar {
    width: 100%;

    margin: 25px 0;

    border-bottom: 1px dotted #6d6d6d;
  }

  .search-results {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    .result-count {
      text-align: end;
      color: black;
      font-family: $montserrat;
      font-size: 18px;
      font-weight: 500;
    }

    .music-list {
      list-style: none;
      padding: 0 !important;

      max-height: 500px;
      overflow: auto;

      .music-list-item {
        cursor: pointer;

        border: 1px #d9d9d9 solid;

        font-family: $montserrat;
        font-size: 14px;
        font-weight: 400;

        padding: 15px;

        p {
          margin: 0;
        }

        &:hover {
          background: rgba(117, 117, 117, 0.27);
        }
      }
    }
  }
}
