@import "src/styles";

.landing-page {
  padding-bottom: 20px;

}

.title {
  font-family: $montserrat;
  color: white;
  text-align: center;

  margin: 129px 0 115px;

  h1 {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 12px !important;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
  }
}

.see-more {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 25px;

  p {
    cursor: pointer;
    margin-bottom: 12px !important;
    font-family: $montserrat;
    color: white;
    font-size: 20px;
    font-weight: 400;
  }
}

.songs {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 92px;
  row-gap: 30px;
}
