@import "src/styles";

.my-musics-page {
  .title {
    font-family: $montserrat;
    color: white;

    text-align: center;
  }

  min-height: 100vh;

  padding-bottom: 20px;

  .songs {

    .song-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      margin-top: 55px;

      column-gap: 82px;
      row-gap: 50px;
    }
  }
}
